<p id="notice"><%= notice %></p>
<h1><%= @actor.first_name_first %></h1>

<table>
	<thead>
		<th>Movie</th>
		<th>Year</th>
	</thead>
	<% @actor.movies.order("year ASC").each do |movie| %>
		<tr>
			<td><%= movie.title %></td>
			<td><%= movie.year %></td>
		</tr>
	</table>
<% end %>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
