<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Movies</h1>
</div>

<div class="fluid-container">
  <div class="row" id="heading">
    <div class="col-md-4 indent">
      <h2>Movie</h2>
    </div>
    <div class="col-md-2 indent">
      <h2>Year</h2>
    </div>
  </div>
  <% @movies.each do |movie| %>
    <div class="row">
      <div class="col-md-4 indent">
        <h2><%= link_to movie.title, movie %></h2><h4><%= link_to 'Edit', edit_movie_path(movie) %> / <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
      </div>
      <div class="col-md-2 indent">
        <h2><%= movie.year %></h2>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Movie', new_movie_path %>
