<p id="notice"><%= notice %></p>
  <div class="jumbotron">
    <h1><%= @movie.title %></h1>
    <h2 class="year"><%= @movie.year %></h2>
  </div>
<% if @movie.image.exists? %>
  <%= image_tag @movie.image.url %><br />
<% end %>
<h2><%= @movie.tagline %></h2>
<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Actor</th>
    </tr>
  </thead>
  <tbody>
    <% @movie.roles.order('name ASC').each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.actor.first_name_first %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
