<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @role.movie %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @role.actor %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
